.email-div, .password-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
}

.submit-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-div > label, .password-div > label, .submit-div > label {
    text-align: left;
}

.signup-form, .sign-in-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.signup-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #006666;
    border-radius: 1rem;
}
