.list-page{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: rgb(240,247,247);
    background: linear-gradient(90deg, rgba(240,247,247,1) 70%, rgba(168,204,204,1) 70%);
}

.list-page h1{
    text-align: center;
    color: white;
}

.crud-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;   
}

.new-task{
    background-color: #006666;
    padding-left: 3rem;
    padding-right: 3rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-1{
    background-color: 'white';
    border-radius: '1rem';
}

.email-1{
    display: flex;
    flex-direction: column;
}

.password-1{
    display: flex;
    flex-direction: column;
}

.submit-task{
    margin-bottom: 2rem;
}