@media screen and (max-width: 768px) {
    .list-page,.crud-parent{
        flex-direction: column;
    }

    .crud-parent{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .left-panel{
        align-self: center;
    }

    .right-panel {
        width: 100%;
        overflow-y: auto;
    }
}

.list-page {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: rgb(240,247,247);
    background: linear-gradient(90deg, rgba(240,247,247,1) 70%, rgba(168,204,204,1) 70%);
}

.list-page h1 {
    text-align: center;
    color: white;
}

.crud-parent {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}

.input-1 {
    background-color: 'white';
    border-radius: '1rem';
}

.email-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.password-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.submit-task {
    margin-bottom: 2rem;
}

.dash-parent {
    padding-left: 8rem;
    padding-right: 8rem;
}