@media screen and (max-width: 768px) {
    .bar{
        flex-direction: column;
    }
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 0.5rem;
    background: rgb(240,247,247);
    background: #006666;
    padding-left: 2rem;
    padding-right: 2rem;
}

.edit-page{
    background: rgb(240,247,247);
    background: linear-gradient(90deg, rgba(240,247,247,1) 70%, rgba(168,204,204,1) 70%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.edit-task {
    background-color: #006666;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.edit-task h1 {
    text-align: center;
    color: white;
}

.edit-task {
    padding-left: 3rem;
    padding-right: 3rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-1 {
    background-color: 'white';
    border-radius: '1rem';
}

.email-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.password-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.submit-task {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}